<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Welcome, <%= user.username %></h1>
    <p>Dashboard content goes here.</p>
    <a href="/">Go to Home</a>
</body>
</html>
